:root{
	--primary-color:#FFFEF2;
	--secondary-color:#000000
}

*{
	box-sizing:border-box;
	margin:0
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Brandon';
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

*:focus-visible {
	outline: none;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5.4rem;
}
.mobile-hidden {
    display: none;
}

/* TERMLY CSS START */
.termly-styles-termly-banner-e1ed59 {
    max-width: none!important;
    width: 100% !important;
    margin: 0 !important;
    left: 0;
    right: 0 !important;
    bottom: 0 !important;
  }
  
  .t-acceptAllButton {
    color: #000 !important;
  }
  
  /* TERMLY CSS END */
  
  /* USERWAY CSS START */
  
  #userwayAccessibilityIcon {
    background: transparent !important;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    top: 0px !important;
    left: 0px !important;
  }

/* START - BANNERS */
.banner-text-holder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.banner-text-holder img {
    width: 2.5rem;
    height: 1.5rem;

    margin-right: .2rem;
}
.banner-text-holder p {
    font-family: "Brandon" !important;
}
.banner-text-holder strong {
    font-family: "Brandon" !important;
    margin-left: .2rem;
}

.banner{
    position:sticky;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:100%;
    height:6.5rem;
    
    padding:0 1.2rem;
    
    z-index:999;
}

.banner.top-banner{
    top:0;
    
    background-color: #dcff8e;
    
    color: #000;
}

.banner.bottom-banner{
    display: flex;

    top:6.5rem;
    
    background-color:#000;
    color:#fff;
    
    text-align:center;
}

.banner.bottom-banner p{
    color:#fff;
}

.banner-container{
    display:flex;
    justify-content:center;
    align-items:center
}

.banner-text-holder p{
    font-size:1.4rem;
    line-height:1.5;
    font-weight:300
}

.bottom-banner .banner-text-holder p{
    font-size:1.5rem;
    line-height:2rem
}


.banner-text-holder span{
    display:inline-block;
    
    background:#fff;
    color:#000;
    
    font-size: 1.7rem;
    font-weight:600;
    
    border-radius:2rem;
    
    padding:.5rem 1rem;
    margin-left:.5rem
}

.banner-timer-holder{
    display:flex;
    flex-direction:column;
    column-gap:.8rem;
    order:-1
}

.banner-timer-holder p{
    display:inline-block;

    width:6rem;
    
    font-size:1rem;
    line-height:.9rem;
    font-weight:700
}

.banner-timer-holder span{
    font-size:2rem;
    font-weight:700
}

@media screen and (min-width : 768px) {
    .navbar {
        height: 7rem;
    }
    .mobile-hidden {
        display: block;
    }
    .desktop-hidden {
        display: none;
    }
    .banner.top-banner p {
        display: flex;
        align-items: center;
    }

    .banner-text-holder p{
        font-size:1.7rem!important
    }
    
    .banner-timer-holder{
        flex-direction:row;
        align-items:center;
        order:0
    }

    .banner-timer-holder p{
        text-align:right
    }
}

/* END - BANNERS */